# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: DevSkim

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  schedule:
    - cron: '38 14 * * 2'

jobs:
  lint:
    name: DevSkim
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@4b5047945a44163b94642a1cecc0d93a3f428cc6
        with:
          ignore-globs: "**/.git/**,**/*.md,**/docs/**,**/docs_ui/**,**/test/**,**/tests/**,**/scripts/**,**/sample.env*,**/docker-compose.yaml,**/nginx/**,**/apache/**,**/helm/**,**/kubernetes/**,**/iis/**"
          exclude-rules: DS162092

      - name: Upload DevSkim scan results to GitHub Security tab
        if: always() && hashFiles('devskim-results.sarif') != ''
        continue-on-error: true
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89
        with:
          sarif_file: devskim-results.sarif
