name: pip-audit
permissions:
  contents: read
  security-events: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 0'

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pip-audit
      - name: Run pip-audit
        run: |
          pip-audit -r requirements.txt -f sarif -o pip-audit.sarif
      - name: Upload results
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a
        with:
          sarif_file: pip-audit.sarif
