name: Tests
permissions:
  contents: read

# Controls when the workflow will run
on:
  workflow_dispatch: # Allows manual triggering of the workflow from the GitHub UI
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    permissions:
      contents: read
      checks: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install Rust toolchain
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly
          source "$HOME/.cargo/env"
          rustup default nightly
      - name: Run Rust tests
        run: |
          source "$HOME/.cargo/env"
          rustup run nightly cargo test --manifest-path jszip-rs/Cargo.toml --quiet
          rustup run nightly cargo test --manifest-path markov-train-rs/Cargo.toml --quiet
      - name: Run test suite
        run: python test/run_all_tests.py
      - name: Upload coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          files: coverage.xml
          fail_ci_if_error: true
